.title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    max-width: 880px;
    margin: 17px auto 0 auto;
    font-size: 21px;
    font-weight: 300;
    color: #2E2E2E;
    text-align: center;
}